.SearchBox-wrapper {
  background-color: #f2f4f5;
  margin: 75px 0;
}
.SearchBox form {
  width: 100%;
  position: relative;
  height: 50px;
}
.SearchBox form button {
  border: none;
  border-left: 1px solid grey;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.SearchBox input {
  border: none;
  border-right: 1px solid grey;
  outline: none;
}
